@use './styles/theme';

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-body);
  background-color: var(--color-cream);
  color: var(--color-bark);
  line-height: 1.6;
}
